* {
    box-sizing: border-box;
    color: #093a58;
    font-family: 'Varela Round', sans-serif;
}

* a {
    text-decoration: none;
}

body {
    background-color: rgba(255, 255, 255, 0.905);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 1em;
}

section {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #093a58;
    font-weight: bold;
}

h1 {
    font-size: 2.2em;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    font-size: 2em;
}

button {
    padding: 0.5em;
    background-color: grey;
    color:rgba(255, 255, 255, 0.905);
    border: 2px solid grey;
    margin: 0;
    height: 2.5em;
}

ul {
    margin-left: 0; 
    padding-left: 0; 
}   

li {
    list-style-type: none;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    margin-bottom: 20px;
}

.img_div {
    display: flex;
    align-items: center;
}

.image {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
}

.connect {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.main-header a {
    text-decoration: none;
	padding: 10px 15px;
	text-transform: uppercase;
}

.main-header {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.main-header a:hover {
	color: #3acec2;
}

#about {
    display: flex;
    flex-direction: column-reverse;
}

#projects a:hover {
	color: #3acec2;
}

#connect a:hover {
	color: #3acec2;
}

.main-footer {
    display: flex;
    flex-direction: column;
    background: #f1f3f4;
    padding: 0;
    margin-top: 0;
    align-items: center;
}

.main-footer p{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.border-block {
    border: 2px solid grey;
    border-radius: 10px;
    padding: 0.25em 0.75em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column; 
}

.emphasis {
    font-style: italic;
    color: #1571aa;
}

.strong {
    font-weight: 1000;
}

#projects li {
    margin-top: 0.5em;
    display: flex;
}

#skills li {
    border: 2px solid grey;
    border-radius: 10px;
    padding: 0.25em 0.75em;
    margin: 0.5em;
    display: inline-block;
}

#form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
}

#form label {
    color: #093a58;
    font-size: 0.9em;
}

#form input, textarea {
    font-size: 0.9em;
    padding: 0m;
    border: groove;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#messages {
    margin-top: 1em;
    display: flex;
}

#messages li {
    border: 2px solid grey;
    border-radius: 10px;
    padding: 0.25em 0.75em;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#messages button {
    margin-left: 0.5rem;
}

@media (min-width: 769px) {
    h1 {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .main-header, .main-nav, .menu {
        display: flex;
    }

    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img_div {
        display: flex;
        align-items: center;
    }
  
    .main-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-header li {
        margin-left: 10px;
    }

    .image {
        height: 350px;
        width: 350px;
    }

    .main-footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background: #f1f3f4;
        padding: 0;
        margin-top: 0;
    }

    #about {
        display: flex;
        flex-direction: row;
    }

    #messages li{
        justify-content: space-between;
        align-items: center;
    }
}
  
@media (min-width: 1025px) {
    body {
        margin-left: 3em;
        margin-right: 3em;
    }

    h1 {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .img_div {
        display: flex;
        align-items: center;
    }

    .main-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        margin-bottom: 1em;
    }

    .main-header li {
        margin-left: 10px;
    }

    .border-block{
        flex-direction: row;
        justify-content: space-between;
    }

    .image {
        height: 350px;
        width: 350px;
    }

    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background: #f1f3f4;
        padding: 0;
        margin-top: 0;
    }

    #about {
        display: flex;
        flex-direction: row;
    }
   
    #messages li{
        justify-content: space-between;
        align-items: center;
    }
}